#heroCategories{
    padding: 40px 0;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-around;
    .heroCategory{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 80px;
        align-items: center;
        position: relative;
        cursor: pointer;
        .heroCategoryImage{
            height: 80px;
            width: 80px;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f8f8f8;
            img{
                width: 70px;
                filter: grayscale(1);
            }
            .filter{
                z-index: 1;
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: #000000;
                opacity: .3;
                left: 0;
                top: 0;
                transition: .2s ease;
            }
        }
        .heroCategoryText{
            font-weight: 600;
            position: absolute;
            bottom: -25px;
            span{
                font-size: 80%;
            }
        }
        &:hover{
            .heroCategoryImage{
                .filter{
                    opacity: 0;
                }
            }
        }
        &:last-of-type{
            .heroCategoryImage{
                img{
                    width: 60px;
                }
            }
        }
    }
}