#todayForYou{
    #forYouUpper{
        display: flex;
        justify-content: space-between;
        padding: var(--default-padding) var(--default-padding-double);
        padding-bottom: var(--default-padding-half);
        h3{
            font-size: 175%;
            font-weight: 00;
        }
        #upperButtons{
            display: flex;
            align-items: center;
            span{
                border: 2px solid var(--lightBorder);
                padding: 5px 15px;
                margin-left: 10px;
                font-weight: 600;
                border-radius: 8px;
                font-size: 95%;
                cursor: pointer;
                transition: .2s ease;
            }
            .active{
                background-color: var(--border);
                border-color: var(--border);
                color: white;
            }
        }
    }
    #forYourProductsContainer{
        display: flex;
        margin-top: 30px;
        padding-bottom: var(--default-padding-double);
        transition: .2s ease;
        transform: translateX(0);
        .product{
            margin-left: unset !important;
        }
        & > div{
            min-width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
            padding: 0 var(--default-padding-double);
        }
    }
}