#searchItems{
    &.listView{
        .productMicro{
            margin: 8px 0;
        }
    }
    &.boxView{
        #items{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 8px;
            .productMicro{
                margin: 0px;
            }
        }
    }
}