#cart{
    display: flex;
    flex: 1;
    padding: var(--default-padding);
    #cartContents{
        width: 100%;
        .cartUpper{
            display: flex;
            width: 100%;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid var(--borderGray);
            h2{
                font-size: 1.5rem;
            }

        }
        #cartLower{
            display: flex;
            justify-content: space-between;
            #cartItems{
                .cartItem{
                    display: flex;
                    align-items: center;
                    img{
                        object-fit: contain;
                        height: 100px;
                        margin: 0 20px;
                    }
                    .cartItemInfo{
                        h3{
                            font-size: 1.2rem;
                            
                        }
                    }
                }
            }
            #cartTotal{
                width: 30%;
                padding: 1rem;
                border: 1px solid var(--borderGray);
            }
        }
    }
}