.productMicro{
    min-width: 20vw;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #bebebe9f;
    margin-top: var(--default-padding);
    background-color: #fff;
    cursor: pointer;
    &:first-of-type{
        margin-left: 0;
    }
    &:last-of-type{
        margin-right: 0;
    }
    .productImage{
        position: relative;
        width: 100%;
        & > img{
            max-height: 200px;
            object-fit: cover;
            width: 100%;
            object-position: center;
            z-index: -1;
        }
        .likeButton{
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
            background-color: white;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
            cursor: pointer;
            .heart{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    height: 60%;
                    width: 60%;
                    filter: invert(0.5);
                }
            }
        }
    }
    .productInfoContainer{
        padding: 10px 20px;
        .productName{
            font-size: 130%;
        }
        .productInfo{
            display: flex;
            align-items: center;
            .starContainer{
                display: flex;
                img{
                    filter: var(--blackToStarYellow);
                }
                span{
                    font-size: 95%;
                    font-weight: 600;
                }
            }
            .productSold{
                font-size: 90%;
                font-weight: 600;
                opacity: .4;
            }
        }
        .priceContainer{
            display: flex;
            align-items: center;
            .productPrice, .productDiscount{
                display: flex;
                height: max-content;
            }
            .dollarSign{
                font-size: 90%;
                display: flex;
                width: max-content;
                font-weight: 300;
                height: max-content;
                margin-top: 2px;
            }
            p:last-of-type{
                font-size: 140%;
                font-weight: 500;
                line-height: unset;
            }
            .onDiscount{
                color: var(--reddish);
                font-size: 100%;
                margin-left: 10px;
                text-decoration: line-through;
                opacity: .7;
            }
        }
    }
    .flashSaleCount{
        padding: 10px 10px;
        border-top: 2px solid var(--lighterBorder);
        display: flex;
        align-items: center;
        .count{
            font-size: 90%;
            font-weight: 600;
            display: flex;
            align-items: center;
            opacity: .5;
            width: fit-content;
            white-space: nowrap;    
        }
        .bar{
            flex-grow: 1;
            display: flex;
            height: 50%;
            width: 100%;
            background-color: var(--lighterBorder);
            margin: 0 10px;
            border-radius: 8px;
            overflow: hidden;
            .progress{
                height: 100%;
                width: 10%;
                background-color: #333;
                border-radius: 8px;
            }
        }
    }
    &.list{
        display: flex;
        flex-direction: row;
        box-shadow: 0px 0px 3px #bebebe9f;
        margin-top: 0;
        max-height: 300px;
        .productImage{
            max-width: 300px;
            & > img{
                max-height: 100%;
                object-fit: cover;
                width: 100%;
                object-position: center;
                z-index: -1;
            }
        }
        .productInfoContainer{
            padding: 10px 20px;
            display: flex;
            flex-direction: column;
            .productName{
                font-weight: 500;
            }
            .productInfo{
                display: flex;
                .starContainer{
                    display: flex;
                    align-items: center;
                    .starRating{
                        margin-right: 4px;
                    }
                    .stars{
                        position: relative;
                        display: flex;
                        align-items: center;
                        &>div{
                            display: flex;
                        }
                        .filledStars{
                            position: absolute;
                            top: 0;
                            left: 0;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }
                }
            }
            .priceContainer{
                .dollarSign{
                    margin-top: 6px;
                }
                p:last-of-type{
                    font-size: 180%;
                }
            }
        }
        
    }
}

.liked{
    filter: var(--blackToReddish) !important;
}